header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: pink;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: auto;
}

header button {
  padding: 0.5rem;
  border: 3px solid #77e8e8;
  border-radius: 1rem;
  background-color: #f7df1e;
  color: #242424;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.25s;
  width: 140px;
}

@media (max-width: 1024px) {
  header {
    padding: 0.5rem;
  }

  header button {
    width: 120px;
    padding: 0.5rem;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0.5rem;
  }

  header button {
    width: 100px;
    padding: 0.5rem;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0.5rem;
  }

  header button {
    width: 80px;
    padding: 0.25rem;
    font-size: 10px;
  }
}
