header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 2rem;
  background-color: pink;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;

  gap: 30px;
}

header button {
  padding: 1.5rem 1rem;
  border: 3px solid #77e8e8;
  border-radius: 1.5rem;
  background-color: #f7df1e;
  color: #242424;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.25s;
  padding: 10px 20px;
  width: 200px;
}
