@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
  max-height: 100vh;
  background-color: #77e8e8;
  font-family: 'Pixelify Sans', sans-serif;
  margin: 0;
  padding-top: 5rem; /* Ajustado para que el contenido no quede oculto */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  text-align: center;
  font-size: 3rem;
  color: #242424;
  margin-top: 2rem;
}

.content {
  text-align: center;
  padding: 6rem;
  margin-top: 2rem; /* Añadimos margen superior para que el contenido no quede oculto */
}

.score-display {
  font-size: 1.5rem;
  color: #242424;
  margin-top: 1rem;
}

/* Responsive Design */

@media (max-width: 1024px) {
  body {
    padding-top: 7rem; /* Ajustamos el padding-top del body */
  }

  .main-title {
    font-size: 2.5rem;
  }

  .content {
    padding: 1rem;
    margin-top: 4rem; /* Ajustamos el margen superior */
  }

  .score-display {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 8rem; /* Ajustamos el padding-top del body */
  }

  .main-title {
    font-size: 2rem;
  }

  .content {
    padding: 1rem;
    margin-top: 1rem; /* Ajustamos el margen superior */
  }

  .score-display {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    padding-top: 9rem; /* Ajustamos el padding-top del body */
  }

  .main-title {
    font-size: 1.5rem;
  }

  .content {
    padding: 0.5rem;
    margin-top: 0.1rem; /* Ajustamos el margen superior */
  }

  .score-display {
    font-size: 0.875rem;
  }
}
